/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
    display: flex; /* MAIN FLEX PROPERTY */
    justify-content: space-between; /* space between logo & links */
    align-items: center; /* vertical center */

    background-color: #333;
    padding: 15px 30px;
}

/* Logo */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Nav links container */
.nav-links {
    list-style: none;
    display: flex; /* FLEX AGAIN */
    gap: 20px; /* space between links */
}

/* Links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Hover effect */
.nav-links a:hover {
    color: #00adb5;
}